<div>
  <h2 mat-dialog-title class="dialog-list-title">Dialog List</h2>
  <mat-dialog-content class="test">
    <mat-list role="list">
      <mat-list-item class="dialog-listitem-hover" role="listitem">
        <div class="testing">
          Single line text goes here
        </div>
      </mat-list-item>
      <mat-list-item class="dialog-listitem-hover" role="listitem">
        Single line text goes here
      </mat-list-item>
      <mat-list-item class="dialog-listitem-hover" role="listitem">
        Two line wrapped text goes here making it wrap to next
        line and continues longer to be here
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
</div>
