<div>
  <mat-dialog-content class="dialog-plans-content">
    <h2 mat-dialog-title>My plans</h2>
    <mat-list-item class="dialog-plans-list">
      <div class="dialog-listitem-display">
        <button mat-fab class="dialog-button-float person-icon-background">
          <mat-icon class="dialog-icons">person</mat-icon>
        </button>
          <h4 class="dialog-button-text-right something">Premera Blue Cross - ID123456789(active)</h4>
      </div>
    </mat-list-item>
    <mat-list-item class="dialog-plans-list">
      <div class="dialog-listitem-display">
        <button mat-fab class="dialog-button-float person-icon-background">
          <mat-icon class="dialog-icons">person</mat-icon>
        </button>
          <h4 class="dialog-button-text-right something">Premera Blue Cross - ID987654321</h4>
      </div>
    </mat-list-item>
    <mat-list-item class="dialog-plans-list">
      <div class="dialog-listitem-display">
        <button mat-fab class="dialog-button-float add-icon-background">
          <mat-icon class="dialog-icons">add</mat-icon>
        </button>
          <h4 class="dialog-button-text-right something">Add a plan</h4>
      </div>
    </mat-list-item>
  </mat-dialog-content>
</div>
