@import '~@angular/material/theming/';
$premera: (
  50: #E7F5FB,
  100: #B9E3F4,
  200: #8BD0ED,
  300: #5CBEE6,
  400: #2EABDF,
  500: #0099d8,
  600: #007EB1,
  700: #00628A,
  800: #004663,
  900: #002A3B,
  A100: #DD6162,
  A200: #DD6162,
  A400: #DD6162,
  A700: #DD6162,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);


$premera-primary: mat-palette($premera);
$premera-accent:  mat-palette($premera, A400);
$premera-warn: mat-palette($premera, A400);
$premera-theme: mat-light-theme($premera-primary, $premera-accent, $premera-warn);
$premera-coral: mat-light-theme($premera-accent, $premera-warn);

@include mat-core();

$secondary-primary: mat-palette($mat-blue,800);
$secondary-accent:  mat-palette($mat-cyan,400);
$secondary-warn: mat-palette($mat-pink);
$secondary-theme: mat-dark-theme($secondary-primary, $secondary-accent, $secondary-warn);


// Default Theme
@include angular-material-theme($premera-theme);
@include mat-datepicker-theme($premera-coral);

// Dark Theme
.premera-secondary {
  @include angular-material-theme($secondary-theme);
}
