@import '~@angular/material/theming/';
$test: (
  50: #0199d9,
  100: #0199d9,
  200: #0199d9,
  300: #0199d9,
  400: #0199d9,
  500: #0199d9,
  600: #0199d9,
  700: #0199d9,
  800: #0199d9,
  900: #0199d9,
  A100: #0199d9,
  A200: #0199d9,
  A400: #0199d9,
  A700: #0199d9,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$primary: mat-palette($test,800);
$accent:  mat-palette($mat-cyan);
$warn: mat-palette($mat-red,600);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include mat-core();

$dark-primary: mat-palette($mat-amber,200);
$dark-accent:  mat-palette($mat-cyan,400);
$dark-warn: mat-palette($mat-pink);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$dark-background: map-get($dark-theme, background);
$dark-foreground: map-get($dark-theme, foreground);

// Default Theme
@include angular-material-theme($theme);
// Dark Theme
.app-dark {
  @include angular-material-theme($dark-theme);
}
