@import "material.variables";
@import "bootstrap.scss";
@import "_app.variables";
// Core Styles
@import "core";

// Our custom classes these get loaded from our app/<name-of-component> folders
@import "../../app/example/example-component.scss";



/* Ensure layout covers the entire screen. ALL THIS MAY NOT BE NECESSARY NOW? */
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  // min-height: 100%;
}

.container {
  width: 100%;
  // min-height: 100%;
}
.row {
  margin-bottom: 50px;
}
