.button-container-padding {
  padding: 20px;
}

[mat-raised-button], [mat-button] {
  font-size: 19px;
  font-family: 'Roboto'!important;
  font-weight: medium !important;
  height: 42px !important;
  &[mat-button-sm] {
    font-size: 19px;
  }
}

.primary-raised-button {
  color: #fff !important;
  background-color: #DD6162 !important;
}

.raised-button-disable {
  color: #fff !important;
}
.secondary-raised-button {
  color: #63666A !important;
  background-color: #e0e0e0 !important;
}

.flat-button {
  color:  #DD6162 !important;
  background-color: #fff !important;
}
