$premera-header-color: #0099D8;
$header-height: 150px;
$drawer-content-background-color: #ffffff;

#header {
  height: $header-height;
}

.drawer-content {
  padding: 20px;
  overflow: auto;
  background-color: $drawer-content-background-color;
}
.drawer-width {
  width: 250px;
  box-shadow: 2px 2px 2px 2px #efefef;
  z-index: 8;
}

.top-toolbar {
  z-index: 10;
  position: fixed;
  min-height: 150px;
  background: $premera-header-color; /* For browsers that do not support gradients */
  background: linear-gradient(to right, $premera-header-color 60%, #00a7b5, #67c5c9);
  // background-color: #f0f9fd !important;
}
.mat-drawer {
  min-height: 100%;
  position: fixed !important;
  top: 150px !important;
}

.navLinksHover {
  padding-left: 15px;
}

.sidenav-font-family-weight {
  font-family: 'Roboto' !important;
  font-size: 18px !important;
  // font-weight: 600 !important;
}
