@import "../buttons/buttons-component.scss";


mat-card {
  width: 280px;
  font-family: 'Roboto', sans-serif;

  .mat-card-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 215px;
  }
}

.mat-card {
  font-weight: medium !important;
}

.card-primary-img-btm {
  margin-bottom: -28px;
  margin-top: 0px !important;
}

.material-icons {
  cursor: pointer;
  position: relative;
  top: 5px;
  float: right;
}

.card-expand-p {
  padding: 0px 24px 0px 24px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: medium !important
}

.flat-button-cards {
  color:  #DD6162;
  background-color: #fff;
  font-size: 16px;
}

.card-list-padding {
  padding-top: 0px;
  margin: 20px;
}

.card-list-padding-top {
  padding: 0px;
}

.example-card {
  width: 400px;
}

.card-header-title-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.media-thumbnail {
  display: flex;

}
.img-media-thumbnail {
  height: 73px;
  width: 73px;
  margin-left: 20px;
}
