@import "../buttons/buttons-component.scss";


mat-card {
  width: 280px;

  .mat-card-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 215px !important;
  }
}

.card-primary-img-btm {
  margin-bottom: -30px;
  margin-top: 0px !important;
}

.material-icons {
  cursor: pointer;
  position: relative;
  top: 5px;
  float: right;
}

.card-expand-p {
  padding: 0px 24px 0px 24px;
}

.flat-button-cards {
  color:  #DD6162;
  background-color: #fff;
  font-size: 16px;
}

.card-list-padding {
  padding-top: 0px;
  margin: 20px;
}

.card-list-padding-top {
  padding: 0px;
}

.card-header-title-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.media-thumbnail {
  display: flex;
}

.img-media-thumbnail {
  height: 73px;
  width: 73px;
  margin-left: 20px;
}

.card-width-primary-landscape {
  display: flex;
  padding-bottom: 0px;
  height: 215px;
}
.landscape-card-width {
  width: 650px;
}
.card-primary-img-landscape {
  margin-left: 35px;
  // margin-bottom: -5px;
  width: 300px;
  height: 215px;
}

.card-default-landscape {
  display: flex;
  padding-bottom: 0px;
}
.card-default-landscape-width {
  width: 650px;
  height: 215px;
}

.card-default-img-landscape {
  margin-right: 35px;
  margin-bottom: -5px;
  width: 300px !important;
  height: 215px;
}

.card-default-landscape-actions {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: -5px;
}

.card-default-landscape-content {
  margin-bottom: 0px;
}

.media-thumbnail-wide {
  width: 650px;
}

.media-thumbnail-default {
  width: 275px;
}

.card-media-thumbnail-default-content {
  display: flex;
}

.content-p {
  width: 150px;
}

.row-margin {
  margin-bottom: 100px;
}
.margin-header {
  margin-bottom: 20px;
  margin-top: 20px;
}


//
