.example-card .mdc-card__media {
  background-image: url("https://www.premera.com/images/Style_Guide/Jumbotron_Woman_650x275.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.example-card .mdc-card__author__avatar {
  background-color: #CCC;
}

.card-width-primary {
  width: 275px !important;
}
.card-primary-img {
  height: 200px;
}

.testing {
  display: flex;
}
.test {
  float: left;
}
.test2 {
  float: right;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  // background: url(images/img1.jpg) center no-repeat;
  background-size: cover;
}
